body {
  font-size: 16px;
  color: #000000;
  background-color: #cccccc;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #24292e;
  border-radius: 0;
  border: 0;
}

#header-nav div.container div.navbar-header {
  height: 100px;
}
.navbar-brand {
  padding: none;
  margin-top: 30px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}
#nav-list a:hover {
  background: #ffffff;
  color: #24292e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #aaaaaa;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.item > div{
  background-color: #000058;
  color: #eeee;
}
.item > div >  div {
  text-align: justify;
  justify-content: inter-word;
  padding: 10px 10px 10px 10px;
}
h3 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
#main-content > div{
  margin-bottom: 25px;
}

#menu-header h2{
  font-family: "Lora";
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}


